{{> head}}
{{> navbar}}
    <div class="container">
        <div class="row">
        <div class="col-8">
            <h1>About ejemplo para el curso</h1>
        </div>
        <div class="col-4">
            <img src="assets/img/node-logo.jpg" alt="" class="img-thumbnail">
        </div>
    </div>
    </div>
    

{{> footer}}